/* @font-face {
  font-family: "Pinch My Ride";
  src: url("static/pinch-my-ride-font/PinchMyRide.ttf.ttf") format("truetype");
} */

@font-face {
  font-family: trial;
  src: url("pricedown-regular/pricedown-regular.ttf");
}

body {
  font-family: trial;
  color: pink; 
  font-size: small;
  text-shadow: 4px 3px black;
}

.btn {
    text-shadow: 0px 0px black;
    color: white;
}

.overlay-top {
    z-index: 9;
}

@media only screen and (max-width: 992px) {
  .h-width {
    width: 50%;
    height: 50%;
  }
}

.big_text {
  font-size:3.6em
}
